[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
isort = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"

[dev-packages]
bandit = "*"
coverage = "<4.4"
eradicate = "*"
pipenv = "*"
rstcheck = "*"
safety = "*"
tox = "*"
nose = "*"
yala = {editable = true, path = "."}

[requires]
python_version = "3.5"
