[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pycodestyle = "*"
pydocstyle = "*"
pyflakes = "*"
pylint = "*"
radon = "*"

[dev-packages]
bandit = "*"
coverage = "<4.4"
eradicate = "*"
pipenv = "*"
rstcheck = "*"
safety = "*"
tox = "*"
nose = "*"
yala = {path = ".",editable = true}

[requires]
python_version = "3.7"
