[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yala = {extras = ["all", "flake8"], path = "."}

[dev-packages]
yala = {editable = true, extras = ["all", "dev", "flake8"], path = "."}

[requires]
python_version = "3.8"
